*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Roboto',sans-serif;
}

.calculator{
    max-width: 420px;
    height: 385px;
    margin: 105px auto;
    border:1px solid #000000;
}

.result-field{
    margin: 25px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    width: 370px;
    height: 60px;
    background-color: #F1F1F1;
}
